<% layout("/layouts/boilerplate") %>
    <br>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h1>Edit Listing</h1>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" name="listing[title]" value="<%= listing.title %>"
                        class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" name="listing[description]" class="form-control"
                        required><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image:</label>
                    <textarea id="image" name="listing[image]" class="form-control"><%= listing.image.url %></textarea>
                </div>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" id="price" name="listing[price]" value="<%= listing.price %>" step="0.01"
                            class="form-control" required>
                    </div>
                    <div class="mb-3 col-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" id="country" name="listing[country]" value="<%= listing.country %>"
                            class="form-control" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" id="location" name="listing[location]" value="<%= listing.location %>"
                        class="form-control" required>
                </div>

                <button type="submit" class="btn add-btn mt-3">update Listing</button>

            </form>
        </div>
    </div>